.user-container {
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	justify-content: space-evenly;
	color: #fff;
	width: 50%;
	max-width: 200px;
}

.user-info {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.user-container {
		flex-flow: row;
		max-width: 500px;
	}
}
