.slideshow {
	margin: 0 auto;
	width: 90%;
}

.movie-slide {
	text-align: center;
}

.movie-poster {
	width: 100%;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	margin-top: 2em;
}

.movie-info {
	margin-top: 2em;
	padding: 0;
	color: #fff;
	margin-bottom: 1em;
}

.slick-arrow.slick-prev {
	top: 275px;
}

.slick-arrow.slick-next {
	top: 275px;
}

@media screen and (min-width: 450px) {
	.slick-arrow.slick-prev {
		top: 325px;
	}

	.slick-arrow.slick-next {
		top: 325px;
	}
}

@media screen and (min-width: 575px) {
	.slick-arrow.slick-prev {
		top: 450px;
	}

	.slick-arrow.slick-next {
		top: 450px;
	}
}

@media screen and (min-width: 768px) {
	.slick-arrow.slick-prev {
		top: 250px;
	}

	.slick-arrow.slick-next {
		top: 250px;
	}

	.movie-slide {
		display: flex !important;
		align-items: stretch;
	}

	.movie-poster {
		margin: 0;
		width: 50%;
	}

	.movie-info {
		background-color: rgba(0, 0, 0, 0.8);
		padding: 4em 1em;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 990px) {
	.slick-arrow.slick-prev {
		top: 450px;
	}

	.slick-arrow.slick-next {
		top: 450px;
	}
}
